<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>NewServlet</servlet-name>
  	<display-name>NewServlet</display-name>
  	<description></description>
  	<servlet-class>newlesson08.NewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SomeStringController</servlet-name>
  	<display-name>SomeStringController</display-name>
  	<description></description>
  	<servlet-class>controller.SomeStringController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DogController</servlet-name>
  	<display-name>DogController</display-name>
  	<description></description>
  	<servlet-class>controller.DogController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CardController</servlet-name>
  	<display-name>CardController</display-name>
  	<description></description>
  	<servlet-class>controller.CardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegController</servlet-name>
  	<display-name>RegController</display-name>
  	<description></description>
  	<servlet-class>controller.RegController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogginController</servlet-name>
  	<display-name>LogginController</display-name>
  	<description></description>
  	<servlet-class>controller.LogginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewServlet</servlet-name>
  	<url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SomeStringController</servlet-name>
  	<url-pattern>/SomeStringController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DogController</servlet-name>
  	<url-pattern>/DogController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CardController</servlet-name>
  	<url-pattern>/CardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegController</servlet-name>
  	<url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogginController</servlet-name>
  	<url-pattern>/Loggin</url-pattern>
  </servlet-mapping>
</web-app>
